<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="currentCountry">
    Paese selezionato: {{ currentCountry.name }}!
  </h1>
  <tabbar [items]="countries" [active]="currentCountry" (em)="selectCountry($event)"></tabbar>

  <gmap *ngIf="currentCountry" [lat]="currentCountry.lat" [lng]="currentCountry.lng"></gmap>
  <div *ngIf="currentCountry">
    <input name="name" [(ngModel)]="currentCountry.name" placeholder="Aggiungi Nome">
    <input name="lat" [(ngModel)]="currentCountry.lat" placeholder="Aggiungi Latitudine">
    <input name="lng" [(ngModel)]="currentCountry.lng" placeholder="Aggiungi Longitudine">
  </div>

  <!--<button class="btn btn-primary" (click)="test()">Test </button>-->
</div>

